<apex:page standardController="copado__Deployment__c" extensions="copado.DW_SummaryExtension,copado.Settings,copado.JsRemotingController" id="DW_Summary"
    lightningStylesheets="true" sideBar="false" docType="html-5.0" title="Deployment Summary">
    <apex:slds />
    <c:WizardUtils />
    <apex:includeScript value="{!URLFOR($Resource.utilsV2) }" />
    <c:IncludeStaticsResourceComponent addJquery="true" addJSON2js="true" addCometdjs="true" addJcometdjs="true" />
    <c:IncludeJqxResourceComponent addjqxAlljs="true" addJqxBasecss="true" />
    <c:IncludeConnectionJsComponent />
    <apex:includeScript value="{!$Resource.copado__DW_javascript}" />
    <apex:stylesheet value="{!$Resource.copado__DW_custom_css}" />
    <apex:stylesheet value="{!URLFOR($Resource.copado__CopadoLightningCSS)}" />

    <script>
        var globalSldsResourcePath = '{!URLFOR($Asset.SLDS)}';
        var currentStepValue = '{!currentStepValue}';
        var Copado_Licenses = '{!CurrentUserLicenses}';
        var dId = '{!deployment.Id}';
        var stepId = '{!JSENCODE(stepId)}';
        var namespace = '{!JSENCODE(namespace)}';
        var isRollback = '{!JSENCODE(deployment.Name)}'.startsWith('Rollback ');
        //***IMPORTANT***  use exactly the same name(jqxdatatable_config) for the configuration for future uses on new pages
        if (isRollback) {
            var jqxdatatable_config = {
                data: {
                    deploymentId: '{!deployment.Id}',
                    stepId: '{!stepId}'
                },
                elts: {},
                server: {
                    baseUrl: '{!JSENCODE(urlBase)}',
                    typesUrl: '{!JSENCODE(urlBase)}gitTypes{!JSENCODE(urlParameters)}'
                },
                jsonData: {
                    selectedMetadata: []
                },

                ns: '{!JSENCODE(namespace)}',
                scalableGrid: false,
                gridMode: 'dwOverviewGrid',
                attachmentName: 'Selected items to rollback',
                eltMainId: 'metadataGrid',
                previewOnly: true,
                eltMainId: 'metadataGrid'
            };
        }
        else{
            var jqxdatatable_config = {
                data: {
                    orgId: '{!deployment.copado__From_Org__c}',
                    envId: '{!JSENCODE(deployment.copado__Source_Environment__c)}',
                    deploymentId: '{!deployment.Id}',
                    stepId: ''
                },
                elts: {},
                server: {
                    baseUrl: '{!JSENCODE(urlBase)}',
                    metadataUrl: '{!JSENCODE(metadataURL)}&parentId={!deployment.copado__From_Org__c}',
                    typesUrl: '{!JSENCODE(urlBase)}gitTypes{!JSENCODE(urlParameters)}'
                },
                jsonData: {
                    selectedMetadata: []
                },
                ns: '{!JSENCODE(namespace)}',
                scalableGrid: 'false',
                gridMode: 'dwOverviewGrid',
                attachmentName: 'MetaData',
                previewOnly: true,
                eltMainId: 'metadataGrid'
            };
         }

        $copado(document).ready(function () {
            $copado('#tabbingUl li').on('click', { param: this }, dw.handleTabs);
            var depJobId = '{!JSENCODE(deploymentJobId)}';
            if (depJobId.length > 0) {
                dw.prepareErrorGrid(depJobId);
            }
        });
    </script>

    <apex:includeScript value="{!URLFOR($Resource.orgMetadata) }" />
    <apex:includeScript value="{!URLFOR($Resource.JsRemoting) }" />

    <apex:form >
        <c:CopadoSpinner />

        <apex:outputPanel layout="block" id="headerComponent">
            <c:DW_Header currentStep="{!currentStepValue}" stepNameList="{!stepsList}" />
        </apex:outputPanel>

        <div class="co-dw-container">
            <apex:outputPanel rendered="{!isRollback}">
                <div class="slds-grid slds-gutters">                
                    <div class="slds-col slds-size_10-of-12"></div>
                    <div class="slds-col slds-size_2-of-12" style="color: rgba(1, 118, 211, 1);">
                    <div>
                        <span class="slds-icon_container slds-icon-utility-announcement">
                            <span class="slds-icon_container slds-icon__svg--default"></span>
                            <svg class="slds-icon slds-icon_small" aria-hidden="true" style="fill: rgba(1, 118, 211, 1)">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{!URLFOR($Resource.SLDS,'/assets/icons/utility-sprite/svg/symbols.svg#announcement')}"></use>
                            </svg>
                        </span>
                        <a href="https://success.copado.com/s/group/0F9ao000000JuEbCAU/new-rollback-feedback">
                            <span class="slds-text-heading_small">{!$Label.copado__Feedback}</span>
                        </a>
                    </div>
                    </div>
                </div>
            </apex:outputPanel>
            <div class="slds-grid slds-gutters">
                <div class="slds-col slds-size_1-of-12"></div>
                <div class="slds-col slds-size_10-of-12">
                    <h1>{!deploymentInterface.StepGeneralHeader}</h1>
                    <p class="subtitle">{!deployment.Name} {!$Label.CompletedSuccessfully}</p>

                    <apex:outputPanel layout="block" id="errorPanel">
                        <apex:outputPanel layout="none" styleClass="error-panel" rendered="{!PageMessageSize != 0}">
                            <div id="divToast" class="slds-notify_container slds-is-relative">
                                <apex:repeat value="{!pageMessagesMap}" var="severity">
                                    <div class="slds-notify slds-notify_toast slds-theme_{!severity}" role="status">
                                        <span class="slds-assistive-text"></span>
                                        <span class="slds-icon_container slds-icon-utility-success slds-m-right_small slds-no-flex slds-align-top">
                                            <span class="slds-icon_container slds-icon__svg--default {!severity}ToastIcon"></span>
                                        </span>
                                        <div class="slds-notify__content">
                                            <apex:repeat value="{!pageMessagesMap[severity]}" var="messages">
                                                <h2 class="slds-text-heading_small ">{!messages}</h2>
                                            </apex:repeat>
                                        </div>
                                        <div class="slds-notify__close">
                                            <button type="button" class="slds-button slds-button_icon slds-button_icon-inverse" title="{!$Label.CLOSE}" onclick="$copado('[id=divToast]').addClass('slds-hide');">
                                                <span class="slds-icon_container slds-icon__svg--default closeToastIcon"></span>
                                            </button>
                                        </div>
                                    </div>
                                </apex:repeat>
                            </div>
                        </apex:outputPanel>
                    </apex:outputPanel>

                    <div class="deployment-flow-step">
                        <div class="wrapper">
                            <div class="source">
                                <article class="slds-card pill source">
                                    <div class="slds-card__header slds-grid">
                                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                            <div class="slds-media__body" style="">
                                                <h2 class="slds-card__header-title">
                                                    <span>{!$Label.copado__Source}</span>
                                                </h2>
                                            </div>
                                        </header>
                                    </div>
                                </article>
                                <div class="text-wrapper">
                                    <span>
                                        <apex:outputPanel layout="none" rendered="{!deployment.copado__Deployment_Source_Type__c == 'org'}">
                                            <apex:outputField value="{!deployment.From_Org__r.copado__Environment__c}" />
                                        </apex:outputPanel>

                                        <apex:outputPanel layout="none" rendered="{!deployment.copado__Deployment_Source_Type__c == 'git'}">
                                            <apex:outputField value="{!Commit['Name']}" />
                                        </apex:outputPanel>

                                        <apex:outputPanel layout="none" rendered="{!deployment.copado__Deployment_Source_Type__c == ''}">
                                            <apex:outputField value="{!deployment.copado__Rolled_back_Deployment__c}" />
                                        </apex:outputPanel>
                                    </span>
                                </div>
                            </div>
                            <div class="icon">
                                <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_left chevronright"></span>
                            </div>
                            <div class="target">
                                <div class="text-wrapper">
                                    <span>
                                        <apex:outputField value="{!DestinationOrg.To_Org__r.copado__Environment__c}" />
                                    </span>
                                </div>
                                <article class="slds-card pill target">
                                    <div class="slds-card__header slds-grid">
                                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                            <div class="slds-media__body" style="">
                                                <h2 class="slds-card__header-title">
                                                    <span>{!$Label.copado__TARGET}</span>
                                                </h2>
                                            </div>
                                        </header>
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>

                    <apex:outputPanel layout="none" rendered="{!deploymentInterface.StepGeneralHeader != $Label.copado__New_Data_Deployment}">
                        <apex:outputPanel rendered="{!!isRollback}">  
                            <p class="credits" >
                                {!CalculatedCredit}
                                <apex:outputPanel layout="none" rendered="{!CalculatedCredit < 2}">
                                    {!$Label.copado__Credit}
                                </apex:outputPanel>
                                <apex:outputPanel layout="none" rendered="{!CalculatedCredit >= 2}">
                                    {!$Label.copado__CREDITS}
                                </apex:outputPanel>
                                <span>{!$Label.copado__To_Be_Used}</span>
                            </p>
                        </apex:outputPanel>  

                        <ul id="tabbingUl" class="slds-tabs_default__nav" role="tablist">
                            <li class="slds-tabs_default__item slds-is-active" title="{!$Label.STEP_TYPE_METADATA}" role="presentation">
                                <a class="slds-tabs_default__link" style="cursor:pointer;" href="javascript:void(0);" data-open="true" role="tab" tabindex="0"
                                    aria-selected="true" aria-controls="tab-default-1" id="tab-default-1__item">{!$Label.STEP_TYPE_METADATA}</a>
                            </li>
                            <li class="slds-tabs_default__item" title="{!$Label.DeploymentLogs}" role="presentation">
                                <a class="slds-tabs_default__link disabled-tab" title="{!$Label.NoWarningRelated}" data-open="false" href="javascript:void(0);"
                                    role="tab" tabindex="-1" aria-selected="false" aria-controls="tab-default-2" id="tab-default-2__item">{!$Label.DeploymentLogs}</a>
                            </li>
                        </ul>
                        <div id="tab-default-1" class="slds-tabs_default__content slds-show" role="tabpanel" aria-labelledby="tab-default-1__item">
                            <apex:outputPanel id="jqxMetadataGridComponent">
                                <c:JQX_MetadataGrid bigMetadata="false" tabs="false" isRollback="{!isRollback}" hideTitle="true"/>
                            </apex:outputPanel>
                        </div>
                        <div id="tab-default-2" class="slds-tabs_default__content slds-hide" role="tabpanel" aria-labelledby="tab-default-2__item">
                            <apex:outputPanel layout="none">
                                <div id="stepResult" class="top2P"></div>
                            </apex:outputPanel>
                        </div>
                    </apex:outputPanel>

                    <apex:outputPanel layout="none" rendered="{!deploymentInterface.StepGeneralHeader == $Label.copado__New_Data_Deployment}">
                        <div class="data-templates">
                            <div class="name">
                                <span>{!dataTemplate.Name}</span> | {!dataTemplate.copado__Main_Object__c}
                                <apex:commandLink action="{!openRelationTemplate}" target="_blank">
                                    <apex:image value="{!URLFOR($Resource.copado__DTS_images,'lookup.png')}" />
                                    <apex:param name="relTemplateId" value="{!dataTemplate.Id}" />
                                </apex:commandLink>
                            </div>
                        </div>

                        <apex:outputPanel layout="none">
                            <div id="stepResult"></div>
                        </apex:outputPanel>

                    </apex:outputPanel>

                    <div class="buttons slds-m-top--xx-large">
                        <apex:commandButton styleClass="slds-button slds-button_outline-brand" onClick="lockScreen();" value="{!$Label.copado__Start_New_Deployment}"
                            action="{!startNewDeployment}" rendered="{!!isRollback}"/>
                        <apex:commandButton styleClass="slds-button slds-button_outline-brand" onClick="lockScreen();" value="{!$Label.copado__CLONE}" action="{!deepCloneDeployment}"
                            onComplete="dw.buttonOnComplete();unlockScreen();" rendered="{!!isRollback}" reRender="errorPanel,headerComponent" />
                        <apex:outputPanel layout="none" rendered="{!deploymentInterface.StepGeneralHeader == $Label.copado__New_Data_Deployment}">
                            <apex:commandButton styleClass="slds-button slds-button_outline-brand" onClick="lockScreen();" value="{!$Label.copado__Restart_Deployment}"
                                action="{!deploymentDMLs}" onComplete="restartDeployment();" reRender="nothingtorender" />
                        </apex:outputPanel>
                        <apex:commandButton styleClass="slds-button slds-button_brand btn-confirm" onClick="lockScreen();" value="{!$Label.copado__Close_Deployment}"
                            action="{!goToDeploymentTab}" />
                    </div>

                    <apex:actionFunction name="restartDeployment" action="{!restartDeployment}" onComplete="unlockScreen();" />

                </div>
                <div class="slds-col slds-size_1-of-12"></div>
            </div>
        </div>
    </apex:form>

</apex:page>